Port 2222

AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
LogLevel INFO

AllowTcpForwarding yes
AllowAgentForwarding yes
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
UseDNS no

Subsystem	sftp internal-sftp

HostKey /home/dev/.ssh/ssh_host_rsa_key
HostKey /home/dev/.ssh/ssh_host_dsa_key
HostKey /home/dev/.ssh/ssh_host_ecdsa_key
HostKey /home/dev/.ssh/ssh_host_ed25519_key
