# ingress prefix is followed by baseDomain
ingressPrefix: msmiley
baseDomain: bronzecatapult.com

# persistence is used for the home drive to prevent loss of data
# upon pod restarts
persistence:
  storageClass: csi-rbd-sc
  size: 100Gi

# SSH public key
publicKeys:
  - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILvvPayAH5mmFANKLSXsypGTR7utwRfOziXFkyfilgfZ"
  - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCi9SaFB3usSI9nuHXlu+mSWnNT0jsZHLt/EpASaT5Kn3/pxqNah3qskgpG3MBepet+WAaSFdjJ6ZKgPeVjGseaaaGhhjThSt9b1fvvbyGvnNQeI0hjntt85IHNlzXF+cmNXGvtJv3QcVaCy+oigyDeNtW1gkz3dhvCF/YeFYgInUk4KN+i1qVP5rBKDSIGsbGJrUwJgBUnM14ZJToiwHkxQFY4TwBiQREH5zoLKDVCEbRWQTR1dZ2MTEfk7JsP8nkOOM/kSiN07PJcdlix8o93wS3wI6ifXKDrbbDS6I2QZ2hP5rK4TbWbTntDdFr/S9RJok259JGLtn9f/n2EigsgpUUn78eCcTnqRIDpK/vuV3zBVowMDPVmKI32STu8e019LXPkGihGoEv4Zpnq9zs7I6wOoAAy1psnbe2cgyue7mk0322cXQtAeNZR9UAX4vs0GWedpp8a+Rq+20FUaSbSux9tVrEMqr/xQ4unsc2oCmEiFtgbFXWSrY44h0Z0XxM= root@cloud9-0"
