image:
  repository: "msmiley/dev"
  tag: "latest"

# ingress prefix is followed by baseDomain
ingressPrefix: msmiley
baseDomain: bronzecatapult.com

# persistence is used for the home drive to prevent loss of data
# upon pod restarts
persistence:
  storageClass: csi-rbd-sc
  size: 100Gi

# SSH public key
publicKey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILvvPayAH5mmFANKLSXsypGTR7utwRfOziXFkyfilgfZ"
